.movie-poster-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 160px;
  border: 0.5px solid lightgrey;

  .movie-poster-image {
    position: relative;
    // width: 100%;
    align-items: center;

    .average-rating {
      position: absolute;
      bottom: -30px;
      right: -30px;
      width: 70%;
    }

    a {
      margin: 0;
      padding: 0;

      // width: 100%;
      img {
        border-radius: 15px;
        // width: 100%;
      }
    }
  }

  .date {
    font-size: 10px;
    color: rgb(106, 106, 106);
    margin-left: 8px;
    align-self: flex-start;
  }

  .title {
    max-width: 70%;
    align-self: flex-start;
    margin-left: 8px;
    font-size: 10px;
  }
}
