.movie-poster-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 0.5px solid lightgrey;
  padding-bottom: 10px;

  .movie-poster-image {
    position: relative;
    // width: 100%;
    align-items: center;

    .average-rating {
      position: absolute;
      bottom: -35px;
      right: -30px;
      width: 65%;
    }

    a {
      margin: 0;
      padding: 0;

      // width: 100%;
      img {
        border-radius: 15px 15px 0 0;
        // width: 100%;
      }
    }
  }

  .date {
    font-size: 10px;
    color: rgb(106, 106, 106);
    margin-left: 8px;
    align-self: flex-start;
  }

  .title {
    max-width: 60%;
    align-self: flex-start;
    margin-left: 8px;
    font-size: 10px;
  }
}