@import '../../App.scss';
.homepage{
    @include pageCenter(100%);

    .container{
        @include container();
        .banner{
          
           @include banner();
           
           z-index: 2;
           .banner-content{
            width: 80%;
            max-width: 800px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            z-index: 3;
            }
        }


        .search-results{
            width: 100%;
        }

    }
 
}

