.chart{
    width:35%;
    position: relative;
    display: inline-block;
    top:0;

    .chart-content{
        position: absolute;
        top:30px;
        left: 50px;
        font-size: 12px;
    }
}