@import '../../../App.scss';
.footer{
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: $navHeight;
  background-color: $primaryColor;
  z-index: 5;
  position: sticky;
  bottom: 0;
  position: -webkit-sticky;
  min-width: 100%;
  color: $textColorWhite;
  font-size: 10px;

  a{
      padding: 2px;
      margin: 0;
  }
     
}
