@import "../../App.scss";

.actor-page {
  @include pageCenter(100%);

  .container {
    @include container();
    display: flex;
    flex-direction: column;

    .top-of-page {
      display: flex;

      .left-container {
        border: 2px solid blue;
        min-width: 33%;

        .actor-profile {
          width: 100%;
          height: 100%;
          // img {
          //   max-width: 100%;
          // }
        }
      }

      .right-container {
        min-width: 66%;

        border: 2px solid red;

        .actor-known-for {
          display: flex;
          min-width: 90%;
          overflow: scroll;
        }
      }
    }
    .movie-options-container {
      .movie-options {
        display: flex;
        flex-wrap: wrap;
        max-height: 50vh;
        overflow: scroll;
        justify-content: space-evenly;
      }
      .pagination {
        width: 70%;
      }
    }
  }
}
