@import "../../../App.scss";

.watch-div {
  .booked {
    font-size: 2rem;
    color: $AccentColor;
    background-color: $primaryColor;
  }
  .not-booked {
    font-size: 1rem;
    color: rgb(151, 151, 151);
  }
}
