@import "../../../App.scss";


.movie-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;
  overflow: scroll;
  justify-content: space-evenly;
}

a {
  color: $AccentColor;
}


.active {
  color: $AccentColor;
  background-color: $primaryColor;
  transition: .7s ease-in-out;
}

.trending-button {
  color: $AccentColor;
  border: none;
  border-radius: 15px 15px 15px 15px !important;
}