@import "../../../App.scss";

.movie-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;
  overflow: scroll;
  justify-content: space-evenly;
}

a {
  color: $AccentColor;
}
