@import "../../App.scss";

.tvshow-page {
 @include pageCenter(100%);

 .container {
  @include container();

  .tvshow-banner {
   @include banner();

   .banner-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .banner-content-top{
        width: 100%;
        display: flex;
        flex-direction: column;

        
        .banner-content-top-2{
            width: 10%;
            * {
                width: 170px !important;
            }
        }
    }

    .banner-content-middle{

    }
    .banner-content-bottom{
        display:flex;
        justify-content: space-evenly;
    }

    h1 {
     font-size: 50px;
    }


    .directors {
     font-size: 15px;
     font-weight: bold;
     margin: 15px 0;

    }
   }

  }

  .tvshow-page-content {
    max-width: 1000px;
   padding: 30px;
   margin: 15px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: white;


   .poster-div {
    width: 35%;
    position: relative;

    img {
     width: 100%;
     box-shadow: 5px 5px 10px rgb(29, 29, 29);

    }
    .tvshow-rating-chart {
        width: 100%;
        position: absolute;
        bottom:-40px;
        right: -50px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        * {
            width: 170px !important;
        }
       }

   }

   .tvshow-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3%;
    line-height: 1.5em;



    .chips {
     margin: 15px 0;
    }

    .chips>* {
     margin-right: 5px;
    }

    .tvshow-bottom {
     width: 100%;
     display: flex;
     align-items: flex-end;
     justify-content: space-evenly;

     div{
     

      
     }

     .tvshow-homepage {
      
     }

     .tvshow-homepage a {
      text-decoration: none;
     }

     .tvshow-homepage a svg {
      font-size: 60px;
      color: black;
     }

     .tvshow-homepage a img {
      width: 100%;
     }

    }

   }
  }

 }


 .actors-div {
  width: 100%;
  padding: 15px;
  background-color: white;


  .actors-div-scroll {
   width: 100%;
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
  }
 }

 .scroll-container-div {
  width: 100%;

  background-color: white;

  h2 {
   padding: 12px;
  }

  .scroll-div {
   width: 100%;
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
   padding: 15px;
  }
 }
}


.parallax {
 /* The image used */

 /* Set a specific height */
 min-height: 300px;

 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
}

@media only screen and (max-width: 600px) {
 .tvshow-page-content {
  flex-direction: column;
 }
}