@import '../../App.scss';

.movie-card{
    max-width: 325px;
    min-width: 325px;
    margin: 15px;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   
    .movie-card-media{
       height: 140px;
        background-size: cover;
        background-position: top;
    }
    .title-div{
        display: flex;
        padding: .8rem;
        position: relative;
   
        
        .rating-div{
          position: absolute;
          top:-39px;
          right: -40px;
            width: 40%;

            h2{
                
            }
            
        }

        .movie-badge{
            color: $AccentColor;
            position: absolute;
            top: -155px;
            width: 50%;
            left: -15px;

            span{
             background-color: $primaryColor;
     
            }
        }
  
    }

    .card-actions{
        display: flex;
        justify-self: start;
        align-items: center;
        padding: 0 !important;
        color: $primaryColor;
        a{
            width: 30%;
            color: $AccentColor;
           
        }

        * {
            margin: 5px;
        }
        
    }
}

