@import '../../../App.scss';


.season-page{
    @include pageCenter(100%);
    .container{
        @include container();
        display: flex;
        flex-direction: column;
        justify-content: center;
        .banner{
            @include banner();
                .banner-content{
                    width: 80%;
                    height: 100%;
                    display: flex;
                    padding: 5%;
                    justify-content: flex-start;
                    .banner-content-poster-div{
                        height: 100%;
                        img{
                           height: 90%;
                           box-shadow: 5px 10px 8px #888888;
                        }
                    }
                    .banner-content-details{
                        width: 60%;
                        padding:20px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-self: center;
                        height: 300px;
                        
                        p{
                          
                           
                        }

                        .overview{
                            overflow-y: scroll;
                            -ms-overflow-style: none;  /* IE and Edge */
                            scrollbar-width: none;  /* Firefox */
                            
                        }
                        .overview::-webkit-scrollbar {
                            display: none;
                          }
                    }
                }
            }
                    .scroll-container-div {
                        width: 100%;
                      
                        background-color: white;
                      
                        h2 {
                         padding: 12px;
                        }
                      
                        .scroll-div {
                         width: 100%;
                         display: flex;
                         overflow-x: scroll;
                         overflow-y: hidden;
                         padding: 15px;
                        }
                       }
            
        }
       
    }
    @media only screen and (max-width: 500px) {
    
        .banner-content{
           flex-direction: column;
        }
          }