a{
    margin: 15px;
        color: inherit;
        text-decoration: none;
        width: 90%;
.multicard-container {

 width: 100%;
 display: flex;
 border-radius: 8px;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 border: 1px solid rgba(var(--lightGrey), 1);


 .multicard-poster {
  min-width: 94px;
  max-width: 94px;
  background-size: cover;
  border-radius: 8px;
  img{
      width: 100%;
      border-radius: 8px 0px 0px 8px;
  }
 }
 .multicard-content::-webkit-scrollbar {
    display: none;
  }
 .multicard-content {
  padding: 10px;
  height: 141px;
    overflow: scroll;

  .date{
      font-size: 70%;
      color: grey;
      
  }

  .overview{ 
    
      margin-top: 5px;
      line-height:1.5;
       color: grey;
       font-size: 11px;
         text-overflow: ellipsis;

  }
 }
}
}

