.multicard-container {
 border: 3px solid red;
 margin: 15px;
 width: 90%;
 height: 100px;
 display: flex;

 .multicard-poster {
  border: 3px solid blue;
  min-width: 30%;
  width: 30%;
  background-size: cover;
 }

 .multicard-content {
  border: 3px solid green;
  overflow: hidden;
  padding: 2px;
 }
}