.tv-page {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .search-options {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
  }

  .options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .movie-results {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 75vh;
    overflow: scroll;
  }
  .movie-results > div {
    margin: 15px;
    // align-self: center;
  }
  .movie-results::-webkit-scrollbar {
    display: none;
  }
}
