@import '../../../App.scss';

.search-input{
   
    margin-top: 15px;

    width: 70%;
    color: textColorWhite;

    form{
        color: textColorWhite;
        input{
          color:$textColorWhite;
          
          .icon-searc{
              color: white;
          }
        }

    }

}

