.trailer-modal{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    


}

iframe{
    width: 90vw; 
    height: 90.25vh;
}


.play-trailer{

    width: 2em;
}


