@import '../..//App.scss';

.Navbar {

 background: $primaryColor;
 height: 64px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.2rem;
 display: flex;
 justify-content: space-between;
 width: 100%;
 
}

.Navbar-logo {
 color: white;
 margin: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.tv-icon {
 margin: 10px;
}

.Navbar-links {
 display: flex;
 justify-content: space-between;
 margin: 20px;
}

a {
 text-decoration: none;
}

ul {
 list-style: none;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

li {
 color: white;
 margin: 10px;
}

li:hover {
 color: $AccentColor;
 cursor: pointer;
}