@import "../../../App.scss";
.trending {
    padding: 15px;
 

    .trending-items {

        overflow: auto;
        display: flex;
    }

    a{
        color: $AccentColor;
    }


    .active{
        color:$AccentColor;
        background-color: $primaryColor;
        transition: .7s ease-in-out;
    }

    .trending-button{
        color: $AccentColor;
        border:none;
        border-radius: 15px 15px 15px 15px !important;
    }
}

