@import '../../App.scss';
.footer{
    max-height: 70px;
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: $primaryColor;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #bbbbbb;
    font-size: 11px;
    align-self: flex-end;
    margin-top: 50px;

     
}
