@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,700&display=swap');

$RegularFont:  'Roboto', sans-serif;

/* Color Theme Swatches in Hex */
$primaryColor: #0d253f;
$SecondaryColor: #01b4e4;
$AccentColor: #90cea1;


$logoSize: 50px;


