.movie-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .search-options {
    width: 100%;
    display: flex;

    align-items: center;
    overflow: scroll;
  }

  .movie-results {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
    overflow: scroll;
  }
  .movie-results > div {
    margin: 15px;
    // align-self: center;
  }
}
