.movie-page {
  width: 100%;

  .movie-results {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
    overflow: scroll;
  }
  .movie-results > div {
    margin: 8px;
    // align-self: center;
  }
  .movie-results::-webkit-scrollbar {
    display: none;
  }
}
